{% extends "base.html" %}

{% block content %}
	<header>
		<h1 class="title">
		  Тимур Габец
		</h1>

		<p>00. Привет, я <a href="https://t.me/timgabets">timgabets</a>. С 2013 года я занимаюсь разработкой в банковском процессинге, а точнее, обработкой эмитентских операций по картам VISA/Mastercard/МИР. Пишу на Си и немного на Rust, C++ не понимаю, Java ненавижу всей душой. В быту <a href="https://github.com/timgabets?tab=repositories">предпочитаю Python</a>.</p>

		<p>10. С 2018 года я работаю в <a href="https://tinkoff.ru/">Тинькофф Банке</a>, где занимаюсь разработкой процессинговых систем. Я - техлид/проджект-менеджер команды разработки эмитентского процессинга, и практически все использумые в банке системы были так или иначе написаны моей небольшой командой. Про одну из таких систем я <a href="/cs61">рассказывал весной 2022 года на Хайлоаде</a>. В моих дальнейших планах дописать за пару лет свой собственный процессинг в Тинькофф. 

		<p>20.Я делал несколько попыток получить высшее образование сначала на прикладной математике в МИРЭА в 2003, затем в МТУСИ в 2009. Но оба раза бросал учёбу, потому что искренне не понимал, зачем оно мне надо. Работать было интересней. 

		В 2013 году я заплатил пару тысяч баксов и взял один graduate-курс по системному программированию в Гарварде (точнее, в <a href="https://www.extension.harvard.edu/">Harvard Extension School</a>), успешно прослушал его, сдал экзамен (ездил на физтех, писал экзамен на английском под присмотром доцента), <a href="/cs61">получил A-</a> и на этом успокоился. 

		Формально диплом бакалавра я получил в <a href="http://mti.edu.ru/">Московском Технологическом</a> в 2016 году, и с тех пор он мне в жизни ни разу не понадобился. <a href="https://github.com/timgabets/thesis/blob/master/doc/thesis.pdf">Диплом</a> писал на python, во ходе написания осознал, что российские ПИФы разводят клиентов на деньги.</p>
		
		<p>30. В российской армии служил по призыву в 2006-2008 годах, был сержантом и командовал взводом. Там я научился управлять людьми, проектами и сложными системами.</p>

		<p>40. Самый нормальный способ со мной связаться - это написать на <a href="mailto:tim@gabets.ru">почту</a>. Схантить меня вряд ли получится (а если и буду куда-то уходить, то только целиком со своей командой). Релоцироваться на Кипр не хочу.

		 Когда-то я был во всех соцсетях, но давно перестал там появляться. Остался только пожалуй в <a href="https://www.linkedin.com/in/tim-gabets-18253b42/">LinkedIn</a>, сам иногда не знаю зачем. Линкедин кстати смешной - рекрутёры там видят мой трёхмесячный опыт разработки на питоне в 2017 году и на основании этого регулярно предлагают мне позиции senior python developer в очередном бессмысленном стартапе. Не делайте так. Джаву тоже не предлагайте.
		</p>
		
		<p>50. Ещё веду <a href="https://t.me/gabets_unchained">канал в телеге</a>, где пытаюсь с умным видом о чём-то рассуждать и несмешно шутить</p>

		<p>60. Я счастливый отец троих прекрасных детей, владелец собаки, двух кошек и кота. Пару раз в неделю я добираюсь до работы на своём fixed-gear велосипеде на работу, а по выходным иногда играю в регби вот за <a href="https://www.instagram.com/forum_rfc/">эту  любительскую команду</a></p>
		
		<p>70. BTW, I use <s>Arch</s> <a href="https://www.gentoo.org/">Gentoo</a></p>
	</header>

	<article>
	  {% for page in paginator.pages %}
	  <h3>→ <a href="{{ page.permalink }}">{{ page.title }}</a></h3>
	  {% endfor %}
	</article>

{% endblock content %}