{% extends "base.html" %}

{% block content %}
	<header>
		<h1 class="title">
		  Tim Gabets
		</h1>

		<p>00. Hi, I'm <a href="https://keybase.io/timgabets">🔐timgabets</a>. I'm software developer, primarily working now with payment card processing software in the Fintech area. My native language is C, but I'm also practicing Rust and Python for my <a href="https://github.com/timgabets?tab=repositories">personal projects</a>. I'm currently employed by <a href="https://tinkoff.ru/">Tinkoff Bank</a> where I work as Lead software developer.</p>
		<p>10. In the past I worked for <a href="http://tsys.com/">TSYS</a> and <a href="http://bpcbt.com/">BPC</a> as well as some other smaller projects, sometimes even not related to software engineering.</p>
		<p>20. I earned my <a href="https://github.com/timgabets/thesis/blob/master/doc/thesis.pdf">Bachelor Degree in Computer Science</a> in <a href="http://mti.edu.ru/">Moscow Tech</a> in 2016. Also in the past I successfully completed some graduate courses at <a href="https://www.extension.harvard.edu/">Harvard Extension School</a>, which I'm still <a href="/CS61">very proud of</a>.</p>
		<p>30. If you happen to have any questions or just would like to contact me, you can do this by <a href="mailto:tim@gabets.ru">email</a>. You can also find me on <a href="https://github.com/timgabets">Github</a>, <a href="https://www.linkedin.com/in/tim-gabets-18253b42/">LinkedIn</a>, <a href="https://www.goodreads.com/timgabets">Goodreads</a> and <a href="https://www.instagram.com/timgabets/">Instagram</a>.</p>
		<p>40. My GPG key is <a href="/Tim%20Gabets.asc">CD5A97B2</a> registered using Email address tim@gabets.ru. Other keys registered on my name are no longer in use.</p>
		<p>50. I am also a happy family man, the father of three children and the owner of two cats. A couple of times a week I ride my fixed-gear bike to work, and on weekends I play rugby for <a href="https://www.instagram.com/forum_rfc/">this amateur team</a></p>
		<p>60. BTW, I use <s>Arch</s> <a href="https://www.gentoo.org/">Gentoo</a></p>
	</header>

	<article>
	  {% for page in paginator.pages %}
	  <h3>→ <a href="{{ page.permalink }}">{{ page.title }}</a></h3>
	  {% endfor %}
	</article>

{% endblock content %}